.grid-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  /* row-gap: 1em;
  column-gap: 1em; */
  gap: 1em;

}
header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: ;
}

.grid-container #container {
  border: 2px solid rgb(7, 43, 161);
  font-size: 1.5em;
  padding: 10px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;

}

 #div2 {
  font-size: 1.5em;
  padding: 10px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 94.5%;
}

.grid-item1 {
  grid-column: 1/-1;
  justify-content: center;
  margin-left: auto;
  margin-right: auto
}


#container{
  display: flex;
  justify-content: center;
}

#pic1, #pic2, #pic3{
  border: 2px solid rgb(7, 43, 161);
  padding: 10px;
}

#button{
  display: inline-block;
  height: 35px;
  width: 100px;
  margin:10px;
  border: 2px solid rgb(7, 43, 161);

  
}

#list{
  display: inline;
  float: right;
  inline-size: max-content;
  
}

#chart{
  height: 100%;
  width: 100%;

}

h1{
  justify-content: center;
  font-size: larger;
}